- if models.present?
  %h6.text-info= @msg
  - models.each do |model|
    .model_sm
      = link_to image_tag(model[:image], size: "100x100"), model_years_path(model: model[:id], name: model[:name])
      %p
        = model[:name]
      %p
- else
  = "There are no new models from this manufacturer"
