= render 'shared/model_selector'

.body_container
  - @new_makes.each do |make|
    .block
      %center
        %h4.inline.text-info= make.name
        %span{:onclick => "remove(this.parentNode.parentNode)"} (x)

      %p
      - new_model_search(make.edmunds_id).each do |model|
        %span
          = link_to image_tag(model.sample_image, size: "200x200"), model_years_path(model: model[:edmunds_id], name: model[:name])
          %p
          %h5.inline= model.name
          %span{:onclick => "remove(this.parentNode)"} (x)
          %p

:javascript
  function remove(model){
    model.parentNode.removeChild(model);
  }
  $(function() {
    var hoverElem = null;
    $('body').mousemove(function(e) {
      hoverElem = e.target;
    });

    // This needs to be made a nicer jquery event, as a plugin, that's cross browser.  See http://stackoverflow.com/questions/7154967/jquery-detect-scrolldown
    $(document).bind("mousewheel DOMMouseScroll",function(evt) {
      var delta = evt.originalEvent.wheelDelta || -evt.originalEvent.detail;
      // If my parent is one of the things, do normal stuff
      // Otherwise, do custom stuff and stop event propagation
      if($(hoverElem).hasClass("block") || $(hoverElem).parents(".block")[0]) {
        console.log('normal');
      } else {
        var bc = $('.body_container');
        var curScroll = bc.scrollLeft();
        var scrollDelta = 150;
        if(delta > 0 /* up */){
          console.log('up');
          bc.scrollLeft(curScroll - scrollDelta);
        } else /* down */ {
          console.log('down');
          bc.scrollLeft(curScroll + scrollDelta);
        }
        evt.stopPropagation();
        evt.preventDefault();
        return false;
      }
    });
  });
