= select_tag "model", options_from_collection_for_select(@models, :edmunds_id, :name)
:javascript
  $(document).ready(function() {
    $("#model").change(function(){
      document.forms["make_model_selector"].submit();        
    });
  });
