.hero-unit
  %h1 Welcome to All Autos

.hero-unit
  %h2 Select how you would like to view results:
  %center
    = link_to "Make", makes_path, :class => "btn link" 
    = link_to "Model", models_path, :class => "btn link" 
    = link_to "Year", "#", :class => "btn link"
