// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin-top: 20px;
}

.container{
}

.inline {
  display: inline-block;
}

.model{
  @extend .inline;
  vertical-align: top;
  width: 32.9%;
}

.link{
  @extend .inline;
  padding: 10px 20px;
  margin: 15px;
}


img {
  background:#FFFFFF;
  padding:4px;
  border:1px solid #777777;
  margin-top:5px;
  -moz-box-shadow:0px 0px 5px #666666;
  -webkit-box-shadow:0px 0px 5px #666666;
  box-shadow:0px 0px 5px #666666;
}
