// Place all the styles related to the Trims controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.carousel{
  width: 600px;
}

.carousel-inner{
  width: 600px;
}

.carousel-caption{
  color: white;
}

